## coding=utf-8

## Pages currently use v1 styling by default. Once the Pattern Library
## rollout has been completed, this default can be switched to v2.
<%! main_css = "style-main-v1" %>

## Standard imports
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

<%page expression_filter="h"/>
<!doctype html>
<!--[if lte IE 9]><html class="ie9 lte9" lang="${LANGUAGE_CODE}"><![endif]-->
<!--[if !IE]><<!--><html lang="${LANGUAGE_CODE}"><!--<![endif]-->
  <head dir="${static.dir_rtl()}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
        <%block name="title"></%block> |
        % if context_course:
        <% ctx_loc = context_course.location %>
        ${context_course.display_name_with_default} |
        % elif context_library:
        ${context_library.display_name_with_default} |
        % endif
        ${settings.STUDIO_NAME}
    </title>

    <%
      jsi18n_path = "js/i18n/{language}/djangojs.js".format(language=LANGUAGE_CODE)
    %>

    <script type="text/javascript" src="${static.url(jsi18n_path)}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="path_prefix" content="${EDX_ROOT_URL}">

    <%static:css group='style-vendor'/>
    <%static:css group='style-vendor-tinymce-content'/>
    <%static:css group='style-vendor-tinymce-skin'/>

    <%static:css group='${self.attr.main_css}'/>

    <%include file="widgets/segment-io.html" />

    <%block name="header_extras"></%block>
  </head>

  <body class="${static.dir_rtl()} <%block name='bodyclass'></%block> lang_${LANGUAGE_CODE}">
    <%block name="view_notes"></%block>

    <a class="nav-skip" href="#main">${_("Skip to main content")}</a>

    <%static:js group='base_vendor'/>

    <script type="text/javascript">
      window.baseUrl = "${settings.STATIC_URL | n, js_escaped_string}";
      require.config({
          baseUrl: window.baseUrl
      });
    </script>

    <script type="text/javascript" src="${static.url("cms/js/require-config.js")}"></script>

    <!-- view -->
    <div class="wrapper wrapper-view" dir="${static.dir_rtl()}">
        <% online_help_token = self.online_help_token() if hasattr(self, 'online_help_token') else None %>
        <%include file="widgets/header.html" args="online_help_token=online_help_token" />

      <div id="page-alert">
        <!-- Start temporary notification: after update to KOA no need in this code -->
        <div id="freeze-notification" class="wrapper wrapper-alert wrapper-alert-announcement">
          <div class="alert announcement has-actions">
            <span class="feedback-symbol fa fa-bullhorn" aria-hidden="true"></span>

            <div class="copy" style="direction: rtl;">
              <h2 class="title title-3 title-text"></h2>

              <p class="body-text"></p>
            </div>

            <ul>
              <li class="action-dismiss">
                <div class="button" onclick="toggleNotification(null, 'freeze-notification', false)">
                  <span class="icon fa fa-times-circle" aria-hidden="true"></span>
                  <span class="button-copy">${_("Hide")}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <script type="text/javascript">

          // ttl in milliseconds
          function setWithExpiry(key, value, ttl) {
            const now = new Date()

            // `item` is an object which contains the original value
            // as well as the time when it's supposed to expire
            const item = {
              value: value,
              expiry: now.getTime() + ttl,
            }
            localStorage.setItem(key, JSON.stringify(item))
          }

          function getWithExpiry(key) {
            const itemStr = localStorage.getItem(key)
            // if the item doesn't exist, return null
            if (!itemStr) {
              return null
            }
            const item = JSON.parse(itemStr)
            const now = new Date()
            // compare the expiry time of the item with the current time
            if (now.getTime() > item.expiry) {
              // If the item is expired, delete the item from storage
              // and return null
              localStorage.removeItem(key)
              return undefined
            }
            return item.value
          }

          function toggleNotification($el, id, isShow) {
            // prepare element in case element is not provided
            if (!$el) $el = $('#' + id);
            
            // toggle in case status is not provided
            if (isShow == null || isShow == undefined)
              isShow = !$el.hasClass('is-shown');

            // toggle the notification
            if (isShow)
              $el.addClass('is-shown');
            else 
              $el.removeClass('is-shown');
          }

          function showFreezeNotification(ttl, text) {
            const _showFreezeNotification = "_showFreezeNotification";

            let _isExist = getWithExpiry(_showFreezeNotification);
            if (_isExist == null) {
              let _freezeNotif = $('#freeze-notification');
              let _title = $('#freeze-notification .title-text');
              let _body = $('#freeze-notification .body-text');

              // set title text
              _title.html('<div>' + text.title + '</div><br/>');

              // set body text(s)
              text.body.forEach(bodyRow => {
                if (!bodyRow) _body.append('<br/>');
                else _body.append('<div>' + bodyRow + '</div>');
              });

              setWithExpiry(_showFreezeNotification, 1, ttl); // add to localstorage
              toggleNotification(_freezeNotif, true);         // hide show notification

              return true;
            }
          };

          function isShowFreezeNotification() {
            const _today = new Date();
            const _notifications = [ // !!!! TODO: move to configuration of Admin panel !!!!
              { 
                id: 3,
                startDate: new Date("03-19-2022 00:00:00 UTC+02:00"),
                stopDate: new Date("04-07-2022 23:59:59 UTC+03:00"),
                text: {
                  title: "עברנו לסטודיו החדש!",
                  body: [
                    "שימו לב! אתם נמצאים כרגע בסטודיו הישן. אין לבצע כאן כל שינוי בקורסים.",
                    "להמשך פיתוח הקורס שלכם, ולהתאמת קורס קיים לסביבת koa היכנסו לסטודיו החדש: <a href='https://courses.koa.campus.gov.il'>courses.koa.campus.gov.il</a>.",
                    "החל מה- 8.4 נחזור לפעילות רגילה בסטודיו ובגרסה החדשה.",
                    "לפרטים נוספים פנו אלינו במייל: <a href='mailto:support.koa@campus.gov.il'>support.koa@campus.gov.il</a>",
                    "או הצטרפו לשעות הקבלה שלנו בימים שני וחמשי בשעות 10-11 <a href='https://midlink-il.zoom.us/j/87915254146'>קישור</a>"
                  ]
                }
              },
            ];

            _notifications.forEach(element => {
              if (element.startDate <= _today && element.stopDate > _today) {
                //return !showFreezeNotification(10000, element.text);      // show this notification once per 10 sec
                return !showFreezeNotification(3600000, element.text);    // show this notification once per 1 hour
              }
            });
          }

          isShowFreezeNotification();
        </script>

        <!-- Stop temporary notification -->
      <%block name="page_alert"></%block>
      </div>

      <main id="main" aria-label="Content" tabindex="-1">
          <div id="content">
          <%block name="content"></%block>
          </div>
      </main>

      % if user.is_authenticated():
        <%include file="widgets/sock.html" args="online_help_token=online_help_token" />
      % endif
      <%include file="widgets/footer.html" />

      <div id="page-notification"></div>
    </div>

    <div id="page-prompt"></div>

    <%block name="modal_placeholder"></%block>

    <%block name="jsextra"></%block>
    <script type="text/javascript">
      require(['js/factories/base'], function () {
          require(['js/models/course'], function(Course) {
              % if context_course:
                  window.course = new Course({
                      id: "${context_course.id | n, js_escaped_string}",
                      name: "${context_course.display_name_with_default | n, js_escaped_string}",
                      url_name: "${context_course.location.name | n, js_escaped_string}",
                      org: "${context_course.location.org | n, js_escaped_string}",
                      num: "${context_course.location.course | n, js_escaped_string}",
                      display_course_number: "${context_course.display_coursenumber | n, js_escaped_string}",
                      revision: "${context_course.location.revision | n, js_escaped_string}",
                      self_paced: ${context_course.self_paced | n, dump_js_escaped_json}
                  });
              % endif
              % if user.is_authenticated():
                  require(['js/sock']);
              % endif
              <%block name='requirejs'></%block>
          });
      });
    </script>
    <%include file="widgets/segment-io-footer.html" />
    <div class="modal-cover"></div>
  </body>
</html>
