{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                {% blocktrans %}
                    Your enrollment for the course ({{ course_name }}) has been cancelled.
                {% endblocktrans %}
                {% endfilter %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}The course's staff has removed your name from the list of learners. This course will no longer be displayed under your "My Courses" list.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
<!-- 
            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}Your other courses have not been affected.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p> -->

            <p style="color: rgba(0,0,0,.75);">
                {% filter force_escape %}
                {% blocktrans %}This message was automatically sent by {{ site_name }}, after a campus.il account with this email address was created.{% endblocktrans %}
                {% endfilter %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}
