---

edx_platform_repo: "git@gitlab.raccoongang.com:edx/edx-platform.git"
EDX_PLATFORM_VERSION: "koa-rg"
EDXAPP_SITE_NAME: "lms-spectrum.raccoongang.com"
EDXAPP_CMS_SITE_NAME: "cms-spectrum.raccoongang.com"
EDXAPP_PREVIEW_LMS_BASE: "preview-spectrum.raccoongang.com"
COMMON_HOSTNAME: "spectrum"

EDXAPP_SESSION_COOKIE_DOMAIN: ".raccoongang.com"


SWAPFILE_SIZE: ''
MONGO_BIND_IP: '0.0.0.0'

## extra
ECOMMERCE_VERSION: 'koa-rg'
DISCOVERY_VERSION: 'open-release/koa.master'
ANALYTICS_API_VERSION: 'open-release/koa.master'
INSIGHTS_VERSION: 'open-release/koa.master'
NOTIFIER_VERSION: 'open-release/koa.master'
CREDENTIALS_VERSION: 'koa-rg'
SANDBOX_ENABLE_NOTES: True
SANDBOX_ENABLE_BLOCKSTORE: False
FORUM_VERSION: 'open-release/ironwood.master'
COMMON_CONFIG_NO_LOGGING: False
DEVPI_SERVER_VERSION: '5.4.0'
DEVPI_WEB_VERSION: '3.5.2'
DEVPI_CLIENT_VERSION: '5.1.1'
EDX_NOTES_API_VERSION: 'open-release/koa.master'
CERTS_VERSION: 'open-release/koa.master'
COMMON_RETIREMENT_SERVICE_SETUP: false

EDXAPP_FEATURES_OVERRIDE:
  SHOW_LANGUAGE_SELECTOR: true
  RG_DELETE_RETIRED: "{{ COMMON_ENABLE_ACCOUNT_DELETION }}"
  ENABLE_XBLOCK_VIEW_ENDPOINT: true
  ENABLE_ENTERPRISE_INTEGRATION: false
  # LTI Provider feature
  ENABLE_LTI_PROVIDER: true
  # RG Analytics
  ENABLE_RG_INSTRUCTOR_ANALYTICS: "{{ COMMON_RG_INSTRUCTOR_ANALYTICS_ENABLE }}"
  # For task grade_collector_stat
  RG_ANALYTICS_GRADE_CRON_MINUTE: '*/15'
  RG_ANALYTICS_GRADE_CRON_HOUR: '*'
  RG_ANALYTICS_GRADE_CRON_DOM: '*'
  RG_ANALYTICS_GRADE_CRON_DOW: '*'
  RG_ANALYTICS_GRADE_CRON_MONTH: '*'
  #  For task collect_demographics
  RG_ANALYTICS_DEMOGRAPHICS_SCHEDULE:
    minute: '*/15'
    hour: '*'
    day_of_month: '*'
    day_of_week: '*'
    month_of_year: '*'
  # RG Analytics
  # RG gamification
  RG_GAMIFICATION:
    ENABLED: False
    RG_GAMIFICATION_ENDPOINT: "https://gamma-spectrum.raccoongang.com/"
    KEY: "{{ RG_GAMIFICATION_KEY }}"
    SECRET: "{{ RG_GAMIFICATION_SECRET }}"
    IGNORED_EVENT_TYPES:
      - edx.certificate.created
      - edx.course.student_notes.added
  # RG gamification

EDXAPP_FEATURES: "{{ _EDXAPP_FEATURES | combine(EDXAPP_FEATURES_OVERRIDE, recursive=True) }}"

EDXAPP_ADDL_INSTALLED_APPS: []
analytics_log_watcher_sleep_time: 1200
analytics_processors_aliases: "enrollment video_views discussion student_step course_activity"
analytics_processors_sleep_time: 1200


EDXAPP_EXTRA_REQUIREMENTS:
  - name: 'git+https://github.com/raccoongang/edx_xblock_scorm.git@v1.1.0#egg=xblock-scorm==1.1.0'
    extra_args: '-e'

EDXAPP_INSTALL_PRIVATE_REQUIREMENTS: "{{ COMMON_RG_INSTRUCTOR_ANALYTICS_ENABLE }}"
EDXAPP_PRIVATE_REQUIREMENTS:
  - name: 'git+git@gitlab.raccoongang.com:rg-developers/instructor-analytics@v3.0.0-rc.8#egg=rg_instructor_analytics'
    extra_args: '-e'
  - name: 'git+git@gitlab.raccoongang.com:rg-developers/instructor-analytics-log-collector@v3.0.0-rc.1#egg=rg_instructor_analytics_log_collector'
    extra_args: '-e'
  - name: 'edx-gamma-bridge==1.0.0.juniper.1'
    extra_args: '--extra-index-url https://pypi.raccoongang.com'
  - name: 'edx-gamma-dashboard==1.0.0.juniper.1'
    extra_args: '--extra-index-url https://pypi.raccoongang.com'

SITE_CONFIGURATION_STORAGE:
    - domain: "{{ EDXAPP_SITE_NAME }}"
      values:
        COURSE_CATALOG_API_URL: 'https://discovery-spectrum.raccoongang.com/api/v1'
        email_from_address: 'no-reply@raccoongang.com'
        payment_support_email: 'info@raccoongang.com'

EDXAPP_SITE_CONFIGURATION: "{{ SITE_CONFIGURATION_STORAGE if COMMON_ENABLE_DISCOVERY else [] }}"

EDXAPP_REDIS_HOSTNAME: 'edxapp-redis.zdlmo0.0001.aps1.cache.amazonaws.com'
EDXAPP_MEMCACHE: [ 'edxapp-memcached.zdlmo0.cfg.aps1.cache.amazonaws.com:11211' ]

EDXAPP_MKTG_URL_LINK_MAP:
    ABOUT: about
    BLOG: blog
    CONTACT: contact
    COOKIE: cookie
    COURSES: courses
    DONATE: donate
    FAQ: help
    HONOR: honor
    HOW_IT_WORKS: how-to-use
    PRESS: press
    PRIVACY: privacy
    ROOT: root
    TOS: tos
    WHAT_IS_VERIFIED_CERT: verified-certificate


EDXAPP_GRADE_STORAGE_TYPE_LOCAL: false
EDXAPP_GRADE_STORAGE_TYPE: "s3"
EDXAPP_GRADE_BUCKET: "{{ EDXAPP_AWS_STORAGE_BUCKET_NAME }}"
EDXAPP_GRADE_STORAGE_CLASS: "{{ EDXAPP_DEFAULT_FILE_STORAGE }}"
EDXAPP_GRADE_STORAGE_KWARGS:
  location: "/grades"
EDXAPP_GRADE_ROOT_PATH: "grades"
EDXAPP_DEFAULT_FILE_STORAGE: "storages.backends.s3boto3.S3Boto3Storage"
EDXAPP_IMPORT_EXPORT_BUCKET: "{{ EDXAPP_AWS_STORAGE_BUCKET_NAME }}"
EDXAPP_PROFILE_IMAGE_BACKEND:
  class: storages.backends.s3boto3.S3Boto3Storage
  options:
    location: profile-images
    bucket: "{{ EDXAPP_AWS_STORAGE_BUCKET_NAME }}"
    custom_domain: "{{ EDXAPP_AWS_S3_CUSTOM_DOMAIN }}"
    headers:
      Cache-Control: max-age-{{ EDXAPP_PROFILE_IMAGE_MAX_AGE }}
EDXAPP_DEFAULT_FILE_STORAGE: "storages.backends.s3boto3.S3Boto3Storage"
EDXAPP_IMPORT_EXPORT_BUCKET: "{{ EDXAPP_AWS_STORAGE_BUCKET_NAME }}"
EDXAPP_PROFILE_IMAGE_BACKEND:
  class: storages.backends.s3boto3.S3Boto3Storage
  options:
    location: profile-images
    bucket: "{{ EDXAPP_AWS_STORAGE_BUCKET_NAME }}"
    custom_domain: "{{ EDXAPP_AWS_S3_CUSTOM_DOMAIN }}"
    headers:
      Cache-Control: max-age-{{ EDXAPP_PROFILE_IMAGE_MAX_AGE }}
EDXAPP_AWS_STORAGE_BUCKET_NAME: "spectrum-edxapp-storage"
EDXAPP_AWS_S3_CUSTOM_DOMAIN: "s3.us-east-1.amazonaws.com/{{ EDXAPP_AWS_STORAGE_BUCKET_NAME }}"
EDXAPP_S3_HOST: "s3.us-east-1.amazonaws.com"
EDXAPP_S3_USE_SIGV4: true

EDXAPP_ENV_EXTRA:
  AWS_S3_REGION_NAME: 'us-east-1'
  AWS_DEFAULT_ACL: 'public-read'
EDXAPP_VIDEO_IMAGE_SETTINGS:
  VIDEO_IMAGE_MAX_BYTES : 2097152
  VIDEO_IMAGE_MIN_BYTES : 2048
  STORAGE_CLASS: "{{ EDXAPP_DEFAULT_FILE_STORAGE }}"
  STORAGE_KWARGS: {}
  DIRECTORY_PREFIX: 'video-images/'
EDXAPP_VIDEO_TRANSCRIPTS_SETTINGS:
  VIDEO_TRANSCRIPTS_MAX_BYTES : 3145728
  STORAGE_CLASS: "{{ EDXAPP_DEFAULT_FILE_STORAGE }}"
  STORAGE_KWARGS: {}
  DIRECTORY_PREFIX: 'video-transcripts/'
FORUM_MONGO_URL: "mongodb://{{ FORUM_MONGO_USER }}:{{ FORUM_MONGO_PASSWORD }}@{{ FORUM_MONGO_HOSTS }}:{{ FORUM_MONGO_PORT }}/{{ FORUM_MONGO_DATABASE }}?replicaSet=rs0"
FORUM_RUBY_VERSION: "2.4.1"
forum_services:
  - {service: "elasticsearch", host: "{{ FORUM_ELASTICSEARCH_HOST }}", port: "{{ FORUM_ELASTICSEARCH_PORT }}"}
