<div class="wrapper-auto-cert">
    <script type="text/javascript">
        var course_id = "${course.id}";
        var mail = "${user.email}";
        var user_id = '${request.user.social_auth.filter(provider="tpa-saml").last().uid.split(":")[1]}';

        /**
         * Utility to get Saba credits history.
         */
        function storeCreditCompletionResults(data) {
            $.ajax({
                // NOTE: it should be POST, but leaving as is.
                url: "/credit_requested?course_id=${course.id}&credit_completion_status=" + data.Status,
                success: function (result) {
                    console.log("Successfully stored the Saba credit with completion status: " + data.Status);
                },
                error: function (result) {
                    console.log("An error occurred trying to store the Saba credit with completion status: " + data.Status);
                }
            });
        }

        /**
         * Utility to enable Get-Credit click.
         */
        function enableGetCreditRequest() {
            $('#course_recommend').click(function(e) {
                CompleteEnrollment();
            });
        }

        /**
         * Utility to disable Get-Credit click.
         */
        function disableGetCreditRequest() {
            $('#course_recommend').off('click');
        }

        /**
         * UX upon Get Credit request success.
         */
        function handleGetCreditSuccessUX() {
            $('#saba-result span').text('Successfully Got Credit');
            $('.data-saba-credit-error-message').text('');
            $('#course_recommend').text('Credit ✓');
            $("#course_recommend").attr("data-saba-credit-result", "success");
            disableGetCreditRequest();
        }

        /**
         * UX upon Get Credit request failure of any kind.
         *
         * Either services server errors (500) or business logic
         * non-success completion status (200) fall into the
         * Get-Credit failure category.
         */
        function handleGetCreditFailureUX() {
            var message = 'Error in obtaining credit. Please try again or open a ticket <a target="_blank" href="https://amat.service-now.com/help?id=help_kb_article&sys_id=08d4292ddb442f44df64dd90cf9619b7">here</a>.'
            $('#saba-result span').html(decodeURI(message));
            $('#course_recommend').text('Try Again');
            $("#course_recommend").attr("data-saba-credit-result", "error");
            enableGetCreditRequest();
        }

        function CompleteEnrollment() {
            $('#credit_button').hide();
            $('.loader').show();
            var user_id = '${request.user.social_auth.filter(provider="tpa-saml").last().uid.split(":")[1]}';
            var data = "{\"course_id\": \"" + "${course.id}" + "\",\"email_id\": \"" + "${user.email}" + "\", \"employee_id\": \"" + user_id + "\"}";
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "https://services.appliedx.amat.com/saba/api/v1/complete/",
                "method": "POST",
                "headers": {
                    "content-type": "application/json",
                },
                "processData": false,
                "data": data
            }
            $.ajax(settings).done(function (response) {
                console.log("Saba services responded with the completion status " + response.Status);
                $(".loader").hide();
                storeCreditCompletionResults(response);
                if (response.Status === "Complete") {
                    handleGetCreditSuccessUX();
                } else {
                    handleGetCreditFailureUX();
                }
            }).fail(function(jqXHR, textStatus){
                console.log("Error occurred when requesting Saba credits from services. " + textStatus);
                $(".loader").hide();
                storeCreditCompletionResults({"Status": "ServerError"});
                handleGetCreditFailureUX();
            });
        }

    </script>
    <div id="errors-info" class="errors-info"></div>
    %if passed:
        <div id="saba-reg"><span></span></div>
        <div id="course-success" style="padding-top:20px;">
            <a id="course_recommend">Get Credit </a>
            <div class="loader">
            </div>
            <div id="saba-result">
                <span></span>
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: "/last_credit_request?course_id=${course.id}",
                    dataType: "json",
                    success: function (result) {
                        if (result.credit_requested_date !== null && result.credit_completion_status !== null) {
                            if (result.credit_completion_status === "Complete") {
                              $("#course-success").prepend(
                                "<div class='data-saba-credit-success-message'>You have requested credit for taking the course on " + result.credit_requested_date + ".</div>"
                              );
                              $('#course_recommend').text('Credit ✓');
                              $("#course_recommend").attr("data-saba-credit-result", "success");
                            } else {
                              $("#course-success").prepend(
                                "<div class='data-saba-credit-error-message'>Please try requesting for Credit again or else open a ticket <a target='_blank' href='https://amat.service-now.com/help?id=help_kb_article&sys_id=08d4292ddb442f44df64dd90cf9619b7'>here</a>.</div>"
                              );
                              $('#course_recommend').text('Try Again');
                              $("#course_recommend").attr("data-saba-credit-result", "error");
                              enableGetCreditRequest();
                            }

                        } else {
                            enableGetCreditRequest();
                            $("#credit_button").show();
                            $(".loader").hide();
                        }
                    },
                    error: function (result) {
                        // NOTE: it seems we never hit this case. Preconditions and UX remain unclear here.
                        enableGetCreditRequest();
                        if (result.credit_requested_date != null) {
                            $("#course-success").prepend(
                              "<div class='data-saba-credit-success-message'>You have requested credit for taking the course on " + result.credit_requested_date + ". To reinitiate credit request, please click <a target='_blank' onClick='CompleteEnrollment()'>here</a></div>"
                            );
                        }
                        else {
                            $("#credit_button").show();
                            $(".loader").hide();
                            InitiateAutoCompletion();
                        }
                    }
                });
                InitiateAutoCompletion = function () {
                    // NOTE: `/credit_requested` doesn't make any call to Saba to actually autocomplete
                    //   (if it was supposed to get Saba credits automatically).
                    //   Leaving as is though to keep the legacy flow.
                    $("#credit_button").click(function (event) {
                        event.preventDefault()
                        $.ajax({
                            url: "/credit_requested?course_id=${course.id}",
                            success: function (result) {
                                console.log("Successfully stored the Saba credit.");
                            },
                            error: function (result) {
                                console.log("An error occurred trying to store the Saba credit.");
                            }
                        });
                    });
                }
            });
            var creditURL = "${course.cert_name_long}";
            var split = creditURL.split("C=");
            courseID = split[1];
        </script>
    % endif
</div>
<style>

    .profile-wrapper .course-info #course-success>#course_recommend[data-saba-credit-result="error"] {
        border: 1px solid #990000;
        box-shadow: inset 0 1px 0 0 #f73636;
        background-color: #e00000;
        background-image: linear-gradient(#e00000, #a80000);
        text-shadow: 0 1px 0 #840000;
        /*background-image: -webkit-linear-gradient(#e00000,#a80000);*/
    }

    .profile-wrapper .course-info #course-success>#course_recommend[data-saba-credit-result="error"]:hover {
        box-shadow: inset 0 1px 0 0 #f10909;
        background-color: #c30404;
        background-image: linear-gradient(#c30e04, #991600);
        /*background-image: -webkit-linear-gradient(#c30e04,#991600);*/
    }

    .profile-wrapper .course-info #course-success>#course_recommend[data-saba-credit-result="error"]:active {
        border: 1px solid #990000;
        box-shadow: inset 0 0 8px 4px #890000, inset 0 0 8px 4px #890000;
    }

    .profile-wrapper .course-info #course-success>#course_recommend[data-saba-credit-result="success"] {
        border: 1px solid #67946d;
        box-shadow: inset 0 1px 0 0 #6aa970;
        background-color: #6ebf5bff;
        background-image: -webkit-linear-gradient(#6ebf5bff, #5f8464);
        background-image: linear-gradient(#6ebf5bff, #5f8464);
        text-shadow: 0 1px 0 #628865;
    }

    .profile-wrapper .course-info #course-success>#course_recommend[data-saba-credit-result="success"]:hover {
        pointer-events: none;
        cursor: default;
    }

    .loader {
        border: 6px solid #f3f3f3; /* Light grey */
        border-top: 6px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
        margin: 0 auto;
        display: none;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
